<%= calendar_date_select_includes "blue" %>
<script src="/javascripts/calendar.js"></script>

<div class='workarea'>

<% form_tag(page_url(@page,:action => 'update'), :multipart => true) do %>

<%= render :partial => 'form' %>

<% end %>

</div>

