<div class="profile_widget">
  <h1><%="User Wall"[:user_wall]%></h1>
   <%= render :partial => 'profile/wall_post_form' %>
   <%= render :partial => 'profile/wall_discussion', :locals => { :posts => @wall_discussion.posts } %>
</div>
