<div class="the_wall">
   <%= render :partial => 'status_post_form' %>
   <%= render :partial => 'profile/wall_discussion', :locals => { :posts => @wall_discussion.posts.all(:order => 'created_at DESC')[0..2] } %>
</div>
